body {
  overflow-x: hidden;
  background-color: #ffffff;
  height: 200vh;
}

.navbar {
  background-color: #3E4DFA; /* Dark blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

  /* Esconder elementos por padrão */
  .fade-in-section {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }
  .fade-in-section.visible {
    opacity: 1;
    transform: none;
  }
  .fade-in-sectionx {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  }
  .fade-in-sectionx.visible {
    opacity: 1;
    transform: none;
  }
  .fade-in-sectionx2 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
  }
  
  /* Tornar elementos visíveis quando estiverem na viewport */
  .fade-in-sectionx2.visible {
    opacity: 1;
    transform: none;
  }

  /* Tornar elementos visíveis quando estiverem na viewport */
 
.navbar .nav-link{
    color: white;
  
  }
  .navbar .nav-link .active{
    color: white;
    font-weight: bold;
  }

#logo-texto {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.navbar-toggler {
  color: white;
  border: none;
  font-size: 30px; /* tamanho */
}

